<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Create a unit tests</h3>
  <form action="/test_writer" method="post">
    <input type="text" name="lang" placeholder="Programming Language code is written in" required/>
    <textarea rows="25" cols="100" name="code" placeholder="Enter Selected Code" required></textarea>
    <input type="submit" value="Generate Tests" />
  </form>
  {% if result %}
  <textarea rows="10" cols="100">{{ result }}</textarea>
  {% endif %}
</body>
